<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>805322119685-g6h0k0d91p0p3gcan3n3fkpdhsnbjioe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.805322119685-g6h0k0d91p0p3gcan3n3fkpdhsnbjioe</string>
	<key>API_KEY</key>
	<string>AIzaSyAg9e-0X_6_IUstnEvXP2blkKlO2uPJ2iQ</string>
	<key>GCM_SENDER_ID</key>
	<string>805322119685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.crunch.bugs.club.CaBAuthorization</string>
	<key>PROJECT_ID</key>
	<string>health-spot-account</string>
	<key>STORAGE_BUCKET</key>
	<string>health-spot-account.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805322119685:ios:7206c9d46a57cef6021a6c</string>
</dict>
</plist>